

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    margin: 0px 200px;
}














